* {
  font-family: 'Poppins', sans-serif;
}

$primaryColor: #18027A;

::selection {
  color: #fff;
  background: rgba(24, 2, 122, 0.4);
}

::-moz-selection {
  background: rgba(24, 2, 122, 0.4);
}

a, button {
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

.margin-reset {
  margin: 0 !important;
}

.padding-right {
  padding-right: 20px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}
.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.text-justify {
  text-align: justify;
}

.border-lbr {
  border: 1px solid #dee2e6;
  border-top: none;
}

/* Scroll-CSS */
#scrollUp {
  right: 25px;
  bottom: 50px;
  color: #fff;
  padding: 2px 8px;
  font-size: 20px;
  background: #009ee2;
  overflow: hidden;
  width: 45px;
  height: 45px;
  line-height: 41px;
  text-align: center;
  border-radius: 3px;
  position: fixed;
  display: none;
}

#scrollUp:hover {
  background: #26313C;
  box-shadow: none;
}

#scrollUp i {
  font-size: 23px;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bg-gray {
  background: #F8f8f8;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}

#status {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}

.spinner {
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid rgba(24, 2, 122, 0.2);
  border-right: 5px solid rgba(24, 2, 122, 0.2);
  border-bottom: 5px solid rgba(24, 2, 122, 0.2);
  border-left: 5px solid $primaryColor;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.section-title {
  h4 {
    font-weight: 600;
    line-height: 52px;
    text-transform: uppercase;
    color: #434343;
    margin-bottom: 5px;
  }

  a {
    font-weight: 500;
    font-size: 20px;
    line-height: 52px;
    text-transform: capitalize;
    color: #939393;
    text-decoration: none;
  }
}

.section-title-2 {
  h3 {
    span {
      color: #009ee2;
    }
  }
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin: 0;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: $primaryColor;
}

.owl-theme {
  .owl-dots {
    .owl-dot {
      span {
        background-color: #a09bbb;
      }
    }
  }
}


.slick-slide img {
  height: 100%;
  max-height: 300px;
}

.top-content {
  h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;

    span {
      color: #28B463;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
      display: block;
    }
  }

  p {
    line-height: 23px;
  }
}

.theme-btn {
  padding: 13px 20px;
  font-size: 14px;
  box-shadow: none;
  border-radius: 0;
  background: $primaryColor;
  position: relative;
  z-index: 111;
  color: #fff;
  text-transform: capitalize;
  border-radius: 4px;
  border: 1px solid transparent;
  display: inline-block;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    border-color: $primaryColor;
    color: $primaryColor;
    background: transparent;
  }
}

.theme-btn.primary {
  border: 1px solid $primaryColor;
  color: $primaryColor;
  background: transparent;
}

.theme-btn.primary:hover {
  background: $primaryColor;
  color: #fff;
}

.pagination-style-1 ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.pagination-style-1 ul li a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  border-radius: 100%;
  margin: 0 4px;
  color: #333;
  text-align: center;
}
.pagination-style-1 ul li a:hover {
  color: #009ee2;
}
.pagination-style-1 ul li a.active {
  background-color: #009ee2;
  color: #ffffff;
}