{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>404 - Not Found | Auspicious</title>
    {% include "components/styles.html" %}
    <link href="{% static 'assets/css/exceptions/access-denied.css' %}" rel="stylesheet">
</head>

<body>

    {% include "components/loader.html" %}
    {% include "components/header.html" %}
    
    <div class="row justify-content-center mt-4">
        <!-- Main Page Starts -->
        <div class="error-content">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-12">
                        <div class="error-text m-4">
                            <h1 class="error font-40 c-text-danger font-bold">
                                404 - Error !
                            </h1>
                            <div class="im-sheep">
                                <div class="top">
                                    <div class="body"></div>
                                    <div class="head">
                                        <div class="im-eye one"></div>
                                        <div class="im-eye two"></div>
                                        <div class="im-ear one"></div>
                                        <div class="im-ear two"></div>
                                    </div>
                                </div>
                                <div class="im-legs">
                                    <div class="im-leg"></div>
                                    <div class="im-leg"></div>
                                    <div class="im-leg"></div>
                                    <div class="im-leg"></div>
                                </div>
                            </div>
                            <h4 class="c-text-info">
                                Oops! The Page You Are Looking For Could Not Be Found!
                            </h4>
                            <p class="text-primary">
                                Sorry bit the page you are looking for does not exist, have been removed or name
                                changed.
                            </p>

                            <div class="error-actions">
                                <a href="{% url 'home' %}" class="btn btn-primary btn-lg">
                                    <i class="fas fa-home"></i>
                                    Take Me Home
                                </a>
                                <button id="go_back" class="btn btn-lg btn-info">
                                    <i class="flaticon-back"></i>
                                    Go Back
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Page Ends -->
    </div>

    {% include "components/footer.html" %}
    {% include "components/scripts.html" %}

    <script>
        // go back button
        $("button#go_back").on("click", function(e) {
            e.preventDefault();
            window.history.back();
        });
    </script>
</body>

</html>