    <!-- Footer Top Start -->
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-md-between">
                <div class="col-md-3 col-6 mb-4 mb-md-0">
                    <div class="title">About Us</div>
                    <ul class="list-unstyled">
                        <li><a href="">Overview</a></li>
                        <li><a href="">Mission & Vision</a></li>
                        <li><a href="">Organization Profile</a></li>
                        <li><a href="">Top Management</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-6">
                    <div class="title">Project & Services</div>
                    <ul class="list-unstyled">
                        <li><a href="">Completed Project</a></li>
                        <li><a href="">Ongoing Project</a></li>
                        <li><a href="">Civil Services</a></li>
                        <li><a href="">Telecom Project</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-6">
                    <div class="title">Stay With Us</div>
                    <ul class="list-unstyled">
                        <li><a href="">Login</a></li>
                        <li><a href="">Career</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Feedback</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top End -->

    <!-- Footer Start -->
    <footer class="footer-area">
        <div class="container">
            <p>© Copyright 2021 I All Rights Reserved by <a href="">AUSPICIOUSBD</a></p>
        </div>
    </footer>
    <!-- Footer End -->

    <!-- ScrollUp -->
    <a id="scrollUp" href="#top"><i class="fa fa-angle-up"></i></a>
