{% extends 'dashboard/base.html' %}

{% load static %}

{% block head_title %}
{% block page_short_title %}
{% block breadcrumb %}
{{ page_short_title }}
{% endblock %}
{% endblock %}
{% endblock %}
{% block page_title %}
{{ page_title }}
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-6 col-lg-3 col-md-6">
        <div class="card box">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon">
                            <i class="fas fa-briefcase"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="font-semibold">Jobs Circular</h6>
                        <h4 class="font-extrabold mb-0">{{ total_job }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 col-md-6">
        <div class="card box">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon">
                            <i class="fas fa-briefcase"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="font-semibold" style="color:#fff;">Active Jobs</h6>
                        <h4 class="font-extrabold mb-0">{{ total_active_job }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 col-md-6">
        <div class="card box">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon">
                            <i class="iconly-boldAdd-User"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="font-semibold" style="color:#fff;">Applicants</h6>
                        <h4 class="font-extrabold mb-0">{{ total_job_applicant }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="col-6 col-lg-3 col-md-6">
        <div class="card box">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon">
                            <i class="iconly-boldProfile"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="font-semibold">Clients</h6>
                        <h4 class="font-extrabold mb-0">{{ total_client }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-6 col-lg-3 col-md-6">
        <div class="card box">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon">
                            <i class="fa fa-project-diagram"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="font-semibold">Projects</h6>
                        <h4 class="font-extrabold mb-0">{{ total_project }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 col-md-6">
        <div class="card box">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon">
                            <i class="fa fa-project-diagram"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="font-semibold">Completed Projects</h6>
                        <h4 class="font-extrabold mb-0">{{ total_completed_project }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="col-6 col-lg-3 col-md-6">
        <div class="card box">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon">
                            <i class="fa fa-project-diagram"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="font-semibold">Running Projects</h6>
                        <h4 class="font-extrabold mb-0">{{ total_running_project }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 col-md-6">
        <div class="card box">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon">
                            <i class="fas fa-user" style="color:#fff"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="font-semibold">Users</h6>
                        <h4 class="font-extrabold mb-0">{{ total_user }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="row">-->
<!--    <div class="col-6 col-lg-3 col-md-6">-->
<!--        <div class="card box">-->
<!--            <div class="card-body px-3 py-4-5">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-4">-->
<!--                        <div class="stats-icon">-->
<!--                            <i class="fa fa-project-diagram"></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-8">-->
<!--                        <h6 class="font-semibold">Projects</h6>-->
<!--                        <h4 class="font-extrabold mb-0">{{ total_project }}</h4>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-6 col-lg-3 col-md-6">-->
<!--        <div class="card box">-->
<!--            <div class="card-body px-3 py-4-5">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-4">-->
<!--                        <div class="stats-icon">-->
<!--                            <i class="fa fa-project-diagram"></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-8">-->
<!--                        <h6 class="font-semibold">Completed Projects</h6>-->
<!--                        <h4 class="font-extrabold mb-0">{{ total_completed_project }}</h4>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



{% endblock %}