{% extends 'dashboard/base.html' %}

{% load static %}

{% block head_title %}
{% block page_short_title %}
{% block breadcrumb %}
{{ page_short_title }}
{% endblock %}
{% endblock %}
{% endblock %}
{% block page_title %}
{{ page_title }}
{% endblock %}


{% block content %}
<style>
.box{
    background-image: linear-gradient(to top,#3492d0, #63bcf7);
    color:#fff;
    }
.box:hover{
    background:#3492d0;
}
</style>

<div class="row">
    <div class="col-6 col-lg-3 col-md-6">
        <div class="card box">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon">
                            <i class="iconly-boldShow"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="font-semibold" style="color:#fff;">Active Jobs</h6>
                        <h6 class="font-extrabold mb-0">{{ total_active_job }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 col-md-6">
        <div class="card box">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon">
                            <i class="iconly-boldAdd-User"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="font-semibold" style="color:#fff;">Total Applicants</h6>
                        <h6 class="font-extrabold mb-0">{{ total_job_applicant }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="col-6 col-lg-3 col-md-6">
        <div class="card box">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon">
                            <i class="iconly-boldProfile"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="font-semibold">Total Client</h6>
                        <h6 class="font-extrabold mb-0">{{ total_client }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 col-md-6">
        <div class="card box">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon">
                            <i class="iconly-boldBookmark"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="font-semibold">Total Project</h6>
                        <h6 class="font-extrabold mb-0">{{ total_project }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 col-lg-3 col-md-6">
        <div class="card box">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon">
                            <i class="iconly-boldShow"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="font-semibold">Running Projects</h6>
                        <h6 class="font-extrabold mb-0">{{ total_running_project }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 col-md-6">
        <div class="card box">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon">
                            <i class="iconly-boldAdd-User"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="font-semibold">Completed Projects</h6>
                        <h6 class="font-extrabold mb-0">{{ total_completed_project }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="col-6 col-lg-3 col-md-6">
        <div class="card box">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon">
                            <i class="iconly-boldProfile"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="font-semibold">Total Jobs</h6>
                        <h6 class="font-extrabold mb-0">{{ total_job }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3 col-md-6">
        <div class="card box">
            <div class="card-body px-3 py-4-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="stats-icon">
                            <i class="fas fa-user" style="color:#fff"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="font-semibold">Total Users</h6>
                        <h6 class="font-extrabold mb-0">{{ total_user }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}