{% extends 'dashboard/base.html' %}

{% load static %}

{% load custom_tags %}

<!-- extra styles -->
{% block additional_css %}
<!-- CKEDITOR JS -->
<script>
    window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';
</script>
{% endblock %}

{% block head_title %}
{% block page_short_title %}
{% block breadcrumb %}
{{ page_short_title }}
{% endblock %}
{% endblock %}
{% endblock %}
{% block page_title %}
{{ page_title }}
{% endblock %}


{% block content %}

{% if can_change == True %}

<div class="card">
    <div class="card-header">
        <h4 class="card-title text-center">
            <span class="">{{ page_title }}</span>
        </h4>
    </div>
    <div class="card-body">
        <div class="row">

            <div class="col-12">
                <form role="form" method="POST" data-toggle="validator" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        {% include 'dashboard/snippets/form.html' %}
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% endif %}

{% endblock %}

{% block additional_js %}
<!-- Bootstrap Validator -->
<script src="{% static 'assets/vendors/bootstrap-validator/validator.js' %}"></script>

<!-- CKeditor Plugin -->
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}