{% load static %}

<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script> -->

<script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

<script src="{% static 'assets/vendors/fontawesome/all.min.js' %}"></script>

<!-- Sweet Alert -->
<script src="{% static 'assets/vendors/sweetalert/sweetalert.min.js' %}"></script>

<!-- Bootstrap Validator -->
<script src="{% static 'assets/vendors/bootstrap-validator/validator.js' %}"></script>

<!-- Custom Script -->
<script src="{% static 'assets/js/custom.js' %}"></script>
<!-- Main Page Script -->
<script src="{% static 'assets/js/main.js' %}"></script>