{% load static %}

<nav class="sidebar-wrapper active">
    <div class="sidebar-header">
        <div class="d-flex justify-content-between">
            <div class="logo">
                <a href="{% url 'dashboard:dashboard' %}"><img src="{% static 'assets/images/logo/auspicious-logo.png' %}" alt="Auspicious" srcset=""></a>
            </div>
            <div class="toggler">
                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu">
            <li class="sidebar-title"></li>

            <li class="sidebar-item">
                <a href="{% url 'dashboard:dashboard' %}" class='sidebar-link'>
                    <i class="bi bi-grid-fill fa-spin"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            
            <!-- Job Career -->
            {% if perms.dashboard.view_career %}
            <li class="sidebar-item">
                <a href="{% url 'dashboard:job_application_list' %}" class='sidebar-link'>
                    <i class="fas fa-briefcase"></i>
                    <span>Job Applications</span>
                </a>
            </li>
            {% endif %}
            
            <!-- CV Career -->
            {% if perms.dashboard.view_career %}
            <li class="sidebar-item">
                <a href="{% url 'dashboard:cv_list' %}" class='sidebar-link'>
                    <i class="fa fa-file"></i>
                    <span>CVs</span>
                </a>
            </li>
            {% endif %}
            
            <!-- Group -->
            {% if perms.auth.add_group %}
            <li class="sidebar-item">
                <a href="{% url 'create_group' %}" class='sidebar-link'>
                    <i class="fa fa-users"></i>
                    <span>User Group</span>
                </a>
            </li>
            {% endif %}
            
            <!-- create admin user -->

            {% if perms.auth.add_user %}
            <li class="sidebar-item">
                <a href="{% url 'create_user' %}" class="sidebar-link">
                    <i class="fa fa-users-cog"></i>
                    <span>Admin User</span>
                </a>
            </li>
            {% endif %}

            <!-- create end user -->

            {% if perms.auth.add_user %}
            <li class="sidebar-item">
                <a href="{% url 'list_user' %}" class="sidebar-link">
                    <i class="fa fa-user"></i>
                    <span>User</span>
                </a>
            </li>
            {% endif %}

            <!-- manage Project Category -->

            {% if perms.dashboard.add_projectcategory or perms.dashboard.view_projectcategory %}
            <li class="sidebar-item">
                <a href="{% url 'dashboard:create_project_category' %}" class="sidebar-link">
                    <i class="fas fa-bullseye"></i>
                    <span>Project Category</span>
                </a>
            </li>
            {% endif %}

            
            <!-- manage project -->

            {% if perms.dashboard.add_project or perms.dashboard.view_project %}
            <li class="sidebar-item">
                <a href="{% url 'dashboard:create_project' %}" class="sidebar-link">
                    <i class="fa fa-project-diagram"></i>
                    <span>Project</span>
                </a>
            </li>
            {% endif %}

            <!-- manage News Category -->

            {% if perms.dashboard.add_newscategory or perms.dashboard.view_newscategory %}
            <li class="sidebar-item">
                <a href="{% url 'dashboard:create_news_category' %}" class="sidebar-link">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <span>News Category</span>
                </a>
            </li>
            {% endif %}

            <!-- manage News  -->

            {% if perms.dashboard.add_news or perms.dashboard.view_news %}
            <li class="sidebar-item">
                <a href="{% url 'dashboard:create_news' %}" class="sidebar-link">
                    <i class="fa fa-newspaper" aria-hidden="true"></i>
                    <span>News</span>
                </a>
            </li>
            {% endif %}

            <!-- manage Blog Category -->

            {% if perms.dashboard.add_blogcategory or perms.dashboard.view_blogcategory %}
            <li class="sidebar-item">
                <a href="{% url 'dashboard:create_blog_category' %}" class="sidebar-link">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <span>Blog Category</span>
                </a>
            </li>
            {% endif %}

            <!-- manage Blog Category -->

            {% if perms.dashboard.add_blog or perms.dashboard.view_blog %}
            <li class="sidebar-item">
                <a href="{% url 'dashboard:create_blog' %}" class="sidebar-link">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <span>Blog</span>
                </a>
            </li>
            {% endif %}
            <!-- manage Image Group  -->

            {% if perms.dashboard.add_imagegroup or perms.dashboard.view_imagegroup %}
            <li class="sidebar-item">
                <a href="{% url 'dashboard:create_image_group' %}" class="sidebar-link">
                    <i class="fa fa-file-image" aria-hidden="true"></i>
                    <span>Image Group</span>
                </a>
            </li>
            {% endif %}

            <!-- manage Gallery  -->

            {% if perms.dashboard.add_gallery or perms.dashboard.view_gallery %}
            <li class="sidebar-item">
                <a href="{% url 'dashboard:create_gallery' %}" class="sidebar-link">
                    <i class="fa fa-file-image" aria-hidden="true"></i>
                    <span>Gallery</span>
                </a>
            </li>
            {% endif %}


            <!-- Client -->

            {% if perms.dashboard.add_client or perms.dashboard.view_client %}
            <li class="sidebar-item">
                <a href="{% url 'dashboard:create_client' %}" class="sidebar-link">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>Client</span>
                </a>
            </li>
            {% endif %}

            <!-- Social Account -->

            {% if perms.dashboard.add_socialaccount or perms.dashboard.view_socialaccount %}
            <li class="sidebar-item">
                <a href="{% url 'dashboard:create_social_account' %}" class="sidebar-link">
                    <i class="fas fa-people-arrows" aria-hidden="true"></i>
                    <span>Social Account </span>
                </a>
            </li>

            {% endif %}

            <!-- Job Position -->

            {% if perms.dashboard.add_jobposition or perms.dashboard.view_jobposition %}
            <li class="sidebar-item">
                <a href="{% url 'dashboard:create_job_position' %}" class="sidebar-link">
                    <i class="fas fa-user-md" aria-hidden="true"></i>
                    <span>Job Position</span>
                </a>
            </li>

            {% endif %}

            <!-- Job -->

            {% if perms.dashboard.add_job or perms.dashboard.view_job %}
            <li class="sidebar-item">
                <a href="{% url 'dashboard:create_job' %}" class="sidebar-link">
                    <i class="fas fa-tasks" aria-hidden="true"></i>
                    <span>Job</span>
                </a>
            </li>

            {% endif %}

            <!-- Contact -->

            {% if perms.dashboard.add_contact or perms.dashboard.view_contact %}
            <li class="sidebar-item">
                <a href="{% url 'dashboard:create_contact' %}" class="sidebar-link">
                    <i class="fas fa-address-book" aria-hidden="true"></i>
                    <span>Contact</span>
                </a>
            </li>

            {% endif %}

        </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</nav>
