{% load static %}

<nav class="sidebar-wrapper active">
    <div class="sidebar-header">
        <div class="d-flex justify-content-between">
            <div class="logo">
                <a href="{% url 'dashboard:dashboard' %}"><img src="{% static 'assets/images/logo/auspicious-logo.png' %}" alt="Auspicious" srcset=""></a>
            </div>
            <div class="toggler">
                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu">
            <li class="sidebar-title">Menu</li>

            <li class="sidebar-item">
                <a href="{% url 'dashboard:dashboard' %}" class='sidebar-link'>
                    <i class="bi bi-grid-fill"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            
            <!-- Group -->
            {% if perms.auth.add_group %}
            <li class="sidebar-item">
                <a href="{% url 'create_group' %}" class='sidebar-link'>
                    <i class="fa fa-layer-group"></i>
                    <span>Manage User Group</span>
                </a>
            </li>
            {% endif %}
            
            <!-- create admin user -->

            {% if perms.auth.add_user %}
            <li class="sidebar-item">
                <a href="{% url 'create_user' %}" class="sidebar-link">
                    <i class="fa fa-users-cog"></i>
                    <span>Manage Admin User</span>
                </a>
            </li>
            {% endif %}
            
            <!-- manage project -->

            {% if perms.dashboard.add_project or perms.dashboard.view_project %}
            <li class="sidebar-item">
                <a href="{% url 'dashboard:create_project' %}" class="sidebar-link">
                    <i class="fa fa-project-diagram"></i>
                    <span>Manage Projects</span>
                </a>
            </li>
            {% endif %}

        </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</nav>