.career-area .category-item:hover {
   background-image: linear-gradient(#7ad1f5, #3492d0);
}

ul {
    list-style-type: disc !important;
}

/* modal customization */
.modal-backdrop {
    z-index: 1040 !important;
    display: none;
}

.modal-dialog {
    margin: 2px auto;
    z-index: 1100 !important;
}
.job-overview a.button {
    background-color:blue;
}
/* .img-fluid{
    height: 200px;
    weight:200px;
} */

.text-deco-none {
    text-decoration: none !important;
}

.hide {
    display: none !important;
}

.m-l-4 {
    margin-left: 4px !important;
}
.m-l-6 {
    margin-left: 6px !important;
}
.m-l-8 {
    margin-left: 8px !important;
}
.m-l-10 {
    margin-left: 10px !important;
}