IS_PRODUCTION=False
SECRET_KEY=django-insecure-xy@o%1-0g_r2hy7cq8@q+zt%v3q9p(#7i3uz2!arh+gk_$#^5b
DEBUG=True
ALLOWED_HOSTS=localhost, 127.0.0.1
DB_NAME=myapp
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_USE_TLS=True
EMAIL_PORT=587
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=mymail@gmail.com
EMAIL_HOST_PASSWORD=