@media (max-width: 575.98px) {
    .navbar-search .form-group {
        width: 100%;
    }

    .navbar-search .form-control {
        width: auto;
    }

    .navbar-search .focused .input-group .form-control {
        width: auto;
    }

    .navbar-search .close {
        display: none;

        opacity: 0;
    }

    .navbar-search .close span {
        width: auto;
        height: auto;
    }

    .navbar-top .navbar-nav {
        transition: all .15s ease;
    }
}

@media (max-width: 575.98px) and (prefers-reduced-motion: reduce) {
    .navbar-top .navbar-nav {
        transition: none;
    }
}

@media (max-width: 575.98px) {
    .g-navbar-search-showing .navbar-search .close {
        display: block;
    }

    .g-navbar-search-showing .navbar-top .navbar-nav {
        display: flex;

        transform: translateX(150%);

        opacity: 1;
    }

    .g-navbar-search-show .navbar-search {
        display: block;
    }

    .g-navbar-search-show .navbar-search .form-control {
        width: auto;
    }

    .g-navbar-search-show .navbar-search .close {
        line-height: 46px;

        position: absolute;
        top: 0;
        right: 0;

        width: 46px;
        height: 46px;

        cursor: pointer;
        text-align: center;

        color: white;
    }

    .g-navbar-search-show .navbar-top .navbar-nav {
        display: none;
    }

    .g-navbar-search-show .navbar-top .navbar-collapse {
        width: 100%;
    }

    .g-navbar-search-shown .navbar-search {
        transform: translateX(0);
    }

    .g-navbar-search-shown .navbar-search .close {
        display: block;

        opacity: 1;
    }

    .g-navbar-search-hiding .navbar-top .navbar-nav {
        display: flex;

        transform: translateX(150%);

        opacity: 0;
    }

    .g-navbar-search-hidden .navbar-top .navbar-nav {
        transform: translateX(0);

        opacity: 1;
    }
}

.navbar .dropdown-menu {
    margin: 0;

    pointer-events: none;

    opacity: 0;
}

.navbar .dropdown-menu-arrow:before {
    position: absolute;
    z-index: -5;
    bottom: 100%;
    left: 20px;

    display: block;

    width: 12px;
    height: 12px;

    content: '';
    transform: rotate(-45deg) translateY(12px);

    border-radius: 2px;
    background: #fff;
    box-shadow: none;
}

.navbar .dropdown-menu-right:before {
    right: 20px;
    left: auto;
}

.navbar:not(.navbar-nav-hover) .dropdown-menu.show {
    animation: show-navbar-dropdown .25s ease forwards;
    pointer-events: auto;

    opacity: 1;
}

.navbar:not(.navbar-nav-hover) .dropdown-menu.close {
    display: block;

    animation: hide-navbar-dropdown .15s ease backwards;
}

.navbar.navbar-nav-hover .dropdown-menu {
    display: block;

    transition: visibility .25s, opacity .25s, transform .25s;
    transform: translate(0, 10px) perspective(200px) rotateX(-2deg);
    pointer-events: none;

    opacity: 0;
}

.navbar.navbar-nav-hover .nav-item.dropdown:hover>.dropdown-menu {
    display: block;
    visibility: visible;

    transform: translate(0, 0);
    animation: none;
    pointer-events: auto;

    opacity: 1;
}

.navbar .dropdown-menu-inner {
    position: relative;

    padding: 1rem;
}

@keyframes show-navbar-dropdown {
    0% {
        transition: visibility .25s, opacity .25s, transform .25s;
        transform: translate(0, 10px) perspective(200px);

        opacity: 0;
    }

    100% {
        transform: translate(0, 0);

        opacity: 1;
    }
}

@keyframes hide-navbar-dropdown {
    from {
        opacity: 1;
    }

    to {
        transform: translate(0, 10px);

        opacity: 0;
    }
}

.navbar-collapse-header {
    display: none;
}

@keyframes show-navbar-collapse {
    0% {
        transform: scale(.95);
        transform-origin: 100% 0;

        opacity: 0;
    }

    100% {
        transform: scale(1);

        opacity: 1;
    }
}

@keyframes hide-navbar-collapse {
    from {
        transform: scale(1);
        transform-origin: 100% 0;

        opacity: 1;
    }

    to {
        transform: scale(.95);

        opacity: 0;
    }
}

.navbar-top {
    padding-right: 1rem;
    padding-left: 1rem;

    border: 0;
}

.navbar-top .container,
.navbar-top .container-fluid,
.navbar-top .container-sm,
.navbar-top .container-md,
.navbar-top .container-lg,
.navbar-top .container-xl {
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .navbar-top .navbar-brand {
        display: none;
    }
}

@media (max-width: 575.98px) {
    .navbar-top .navbar-collapse {
        width: 100%;
    }

    .navbar-top .nav-item {
        position: static;
    }

    .navbar-top .nav-item .dropdown-menu {
        position: absolute;
        right: auto;
        left: 3%;

        width: 94%;
        min-width: auto;
    }
}

.navbar-top.border-bottom.navbar-dark {
    border-color: rgba(255, 255, 255, .08) !important;
}

.navbar-top.border-bottom.navbar-light {
    border-color: rgba(0, 0, 0, .04) !important;
}

.sidenav-pinned .navbar-top .navbar-brand {
    display: none;
}