{% load static %}
<!doctype html>
<html lang="en">

<head>

    <head>
        {% include "components/styles.html" %}
    </head>

<body>


    {% include "components/loader.html" %}
    {% include "components/header.html" %}
    {% block additional_css %}{% endblock %}


    <body>


        <!-- Banner Start -->
        <div class="banner-area" style="background-image: url({% static "assets/landing/assets/img/banner-bg.png"  %})">
            <div class="banner-title">
                <h2>think for the best</h2>
            </div>
            <div class="banner-bottom">
                <div class="container">
                    <div class="row" style="padding-top:10%;">
                        <div class="col-4 col-md-3">
                            <div class="banner-item">
                                <img src="{% static './assets/landing/assets/img/civil-eng.png' %}" alt="">
                                <div class="title">
                                    <span>CIVIL</span>
                                    <p>ENGINEERING</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-md-3">
                            <div class="banner-item">
                                <img src="{% static './assets/landing/assets/img/radio-tower.png' %}" alt="">
                                <div class="title">
                                    <span>TELE</span>
                                    <p>COMMUNICATION</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-md-3 offset-md-3">
                            <div class="logo">
                                <img src="{% static './assets/landing/assets/img/logo-2.png' %}" alt="Logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner End -->

        <!-- Service Start -->
        <div class="service-area">
            <div class="container">
                <div class="section-title">
                    <h4>Services</h4>
                </div>
                <div class="row">
                    <div class="col-md-6 wow fadeInUp" data-wow-duration="2s">
                        <div class="service-item mb-5 mb-md-0">
                            <a href="{% url 'civil_service' %}">
                                <img src="{% static './assets/landing/assets/img/service/civilservies.jpg' %}" alt="">
                                <div class="title">
                                    <p>CIVIL SERVICES</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInUp" data-wow-duration="2s">
                        <div class="service-item">
                            <a href="{% url 'telecom_service' %}">
                                <img src="{% static './assets/landing/assets/img/service/tower.jpg' %}" alt="">
                                <div class="title">
                                    <p>Telecom SERVICES</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->

        <!-- Project Start -->
        <div class="our-projects">
            <div class="container">
                <div class="section-title">
                    <h4>OUR PROJECTS</h4>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="item-menu">
                            <ul class="controls">
                                <li type="button" class="control" data-filter="all">All</li>
                                <li type="button" class="control" data-filter=".ongoing">Ongoing</li>
                                <li type="button" class="control" data-filter=".latest">Latest</li>
                                <li type="button" class="control" data-filter=".completed">Completed</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="project-items">
                    <div class="row">
                        {% for project in ongoing_project_lists %}
                        <div class="col-md-3 col-sm-6 mix ongoing">
                            <div class="product-item">
                                {% if project.image %}
                                <img src="{{ project.image.url }}" alt="" class="img-fluid" style="height:172px;width:350px;">
                                {% else %}
                                <img src="{% static './assets/landing/assets/img/no.jpg' %}" alt="" style="height:172px;width:350px;">
                                {% endif %}
                                <div class="overlay">
                                    <p>{{ project.name|safe|truncatechars_html:30 }}</p>
                                </div>
                                <div class="explore">
                                    <a href="{% url 'project_details' slug=project.slug %}">Explore</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% for project in latest_project_lists %}
                        <div class="col-md-3 col-sm-6 mix latest">
                            <div class="product-item">
                                {% if project.image %}
                                <img src="{{ project.image.url }}" alt="" class="img-fluid" style="height:172px;width:350px;">
                                {% else %}
                                <img src="{% static './assets/landing/assets/img/no.jpg' %}" alt="" style="height:172px;width:350px;">
                                {% endif %}
                                <div class="overlay">
                                    <p>{{ project.name|safe|truncatechars_html:30 }}</p>
                                </div>
                                <div class="explore">
                                    <a href="{% url 'project_details' slug=project.slug %}">Explore</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% for project in completed_project_lists %}
                        <div class="col-md-3 col-sm-6 mix completed">
                            <div class="product-item">
                                {% if project.image %}
                                <img src="{{ project.image.url }}" alt="" class="img-fluid" style="height:172px;width:350px;">
                                {% else %}
                                <img src="{% static './assets/landing/assets/img/no.jpg' %}" alt="" style="height:172px;width:350px;">
                                {% endif %}
                                <div class="overlay">
                                    <p>{{ project.name|safe|truncatechars_html:30 }}</p>
                                </div>
                                <div class="explore">
                                    <a href="{% url 'project_details' slug=project.slug %}">Explore</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <!-- Project End -->

        <!-- News Start -->
        <div class="news-area">

            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-4">
                        <div class="title">
                            <h2>Latest</h2>
                            <h1>News!</h1>
                            <a href="">Explore More</a>
                        </div>
                    </div>
                    {% if latest_news_lists %}
                    <div class="col-md-8 col-8">

                        <div class="news">
                            {% for news in latest_news_lists %}
                            <a href="{% url 'news_details' slug=news.slug %}">

                                <div class="item">
                                    {% if news.image %}
                                    <img src="{{ news.image.url }}" alt="" style="height: 250px; width: 250px;">
                                    {% else %}
                                    <img src="{% static './assets/landing/assets/img/no.jpg' %}" alt="" style="height: 250px; width: 250px;">
                                    {% endif %}

                                    <div class="overlay">
                                        <h4>{{ news.title|safe|truncatechars_html:8 }}</h4>
                                        <p>{{ news.description|safe|truncatechars_html:10}}</p>
                                        
                                    </div>
                                </div>
                            </a>
                            {% endfor %}

                        </div>

                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- News End -->

        <!-- swipper gallery example start -->

        <!--Carousel Gallery-->
        <div class="gallery-area">
            <div class="container">
                <div class="section-title">
                    <div class="row">
                        <div class="col-8">
                            <h4>Gallery</h4>
                        </div>
                        <div class="col-4 text-end">
                            <a href="{% url 'gallery' %}" class="">View all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="carousel-gallery">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for image in image_lists %}
                        <div class="swiper-slide">
                            <a href="{{ image.image.url }}" data-fancybox="gallery">
                                <div class="image" , style="background-image: url({{ image.image.url }})">
                                    <div class="overlay">
                                        <em class="mdi mdi-magnify-plus"></em>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>

        <!--#Carousel Gallery-->

        <!-- swiper gallery example end -->

        <!-- Gallery Start -->
        <!-- <div class="gallery-area">
                <div class="container">
                    <div class="section-title">
                        <div class="row">
                            <div class="col-8">
                                <h4>Gallery</h4>
                            </div>
                            <div class="col-4 text-end">
                                <a href="" class="">View all</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="gallery">
                    {% for image in image_lists %}
                    <div class="gallery__item gallery__item--1">
                        <a href="{{ image.image.url }}" class="gallery__link">
                            <img src="{{ image.image.url }}" class="gallery__image" alt="" />
                            <div class="gallery__overlay">
                                <span>Lorem ipsum dolor.</span>
                            </div>
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </div> -->
        <!-- Gallery End -->

        <!-- Clients Start -->
        <div class="clients-area">
            <div class="container">
                <div class="section-title">
                    <div class="row">
                        <div class="col-8">
                            <h4>Clients & Sister Concern</h4>
                        </div>
                        <div class="col-4 text-end">
                            <a href="{% url 'client' %}" class="">View all</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="clients-items owl-carousel owl-theme text-center">
                            {% for clients in clients_lists %}
                            <div class="single-item">
                                <a href="{% url 'client' %}"><img src="{{ clients.logo.url }}"
                                        alt="{{ clients.name }}"></a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Clients End -->

        <!-- Map Start -->
        <div class="map-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="map">
                            <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no"
                                    marginheight="0" marginwidth="0"
                                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=+(Auspicious)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-between">
                    <div class="col-md-4 col-12">
                        <div class="icon-text">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <a href="tel:+8809611699580">{{contact_qs.phone1}}</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="icon-text">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <a href="mailto:info@auspiciousbd.com">{{contact_qs.email}}</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <ul class="social-icons">
                            {% for social_account in social_account_lists %}
                            {% if social_account.title in "Facebook, facebook" %}
                            <li><a href="{{ social_account.url }}" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            {% elif social_account.title in "Linkdine, Linkedin" %}
                            <li><a href="{{ social_account.url }}" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                            {% elif social_account.title in "Instragram, instagram" %}
                            <li><a href="{{ social_account.url }}" target="_blank"><i class="fa fa-instagram"></i></a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{{ social_account.url }}" target="_blank">
                                    <img style="height: 50px;width: 50px;" src="{{ social_account.logo.url }}"
                                        alt="{{social_account.title}}">
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Map End -->

        {% include "components/footer.html" %}
        {% include "components/scripts.html" %}
        {% block additional_js %}{% endblock %}

    </body>

</html>