{% extends 'dashboard/base.html' %}

{% load static %}

{% load custom_tags %}

<!-- extra styles -->
{% block additional_css %}
<!-- JQuery DataTable CSS -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/jquery-datatable/jquery.dataTables.min.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/jquery-datatable/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/jquery-datatable/buttons.dataTables.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/jquery-datatable/datatable-custom.css' %}" />
{% endblock %}

{% block head_title %}
{% block page_short_title %}
{% block breadcrumb %}
{{ page_short_title }}
{% endblock %}
{% endblock %}
{% endblock %}
{% block page_title %}
{{ page_title }}
{% endblock %}


<!-- main content -->
{% block content %}

<div>
    {{request.path}}
    <br>
    {{ update_url }}
    <hr>
    Check base url path == update url path (from url name)
    <br>
    Check if update keyword in url , If exists then do not execute update url holder
</div>

<div class="row">
    {% if can_add_change == True %}

    
    {% if not update_url == None and 'update' in request.path %}
    {% if not object.slug == None %}
    <!-- update url holder -->
    <input type="hidden" name="updateURL" id="updateURL" value="{% url update_url slug=object.slug %}">
    {% else %}
    <input type="hidden" name="updateURL" id="updateURL" value="{% url update_url id=object.id %}">
    {% endif %}
    {% endif %}
    
    <div class="container text-center m-4">
        <!-- Create Button trigger modal -->
        <button type="button" class="btn btn-lg text-deco-none bg-c-green text-white m-1 js_create_{{namespace}}"
            data-toggle="modal" data-target="#modal-create-{{namespace}}">
            <i class="fas fa-plus-circle"></i>
            {{ page_title }}
        </button>
    </div>
    {% endif %}

    {% if can_view == True %}

    {% if not list_objects == None %}
    <div class="{% if fields_count > 7 %}col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12{% else %}col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12{% endif %} align-items-center">
        <div class="card card-primary">
            {% comment %}
            <h4 class="card-title text-center mt-4 font-15 font-bold">
                {{ namespace|title }} List
            </h4>
            {% endcomment %}
            <div class="card-body">
                {% if list_template == None %}
                {% include 'dashboard/snippets/datatable.html' %}
                {% else %}
                {% include list_template %}
                {% endif %}

            </div>
        </div>
    </div>
    {% endif %}

    {% endif %}

</div>

{% if can_add_change == True %}
{% include 'dashboard/snippets/create-modal.html' %}
{% endif %}

{% if can_delete == True %}

{% if not delete_url == None %}
{% include 'dashboard/snippets/delete-modal.html' %}
{% endif %}

{% endif %}

{% endblock %}


<!-- extra scripts -->
{% block additional_js %}

<!-- Bootstrap Validator -->
<script src="{% static 'assets/vendors/bootstrap-validator/validator.js' %}"></script>

<!-- JQuery DataTable JS -->
<script src="{% static 'assets/vendors/jquery-datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/vendors/jquery-datatable/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/vendors/jquery-datatable/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/vendors/jquery-datatable/buttons.flash.min.js' %}"></script>
<script src="{% static 'assets/vendors/jquery-datatable/jszip.min.js' %}"></script>
<script src="{% static 'assets/vendors/jquery-datatable/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/vendors/jquery-datatable/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/vendors/jquery-datatable/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/vendors/jquery-datatable/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/vendors/jquery-datatable/buttons.colVis.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#list-datatable').DataTable({
            "pagingType": "full_numbers",
            "dom": 'Bfrtip',
            "stateSave": true,
            "scrollCollapse": true,
            "buttons": [
                //'copy', 'csv', 'excel', 'pdf', 'print'
                'colvis', 'copy', 'csv', 'excel', 'print'
            ]
        });
    });
</script>

<!-- Open Modal With Update URL -->
<script>
    $(document).ready(function () {
        let urlPath = window.location.pathname
        let updateURL = $("#updateURL").val()

        if (urlPath == updateURL) {
            $('#modal-create-{{namespace}}').modal('show')
        }
    });
</script>

{% comment %}
{% if not detail_url == None %}
<script>
    $(document).ready(function () {
        $('.point-tr').click(function () {
            window.location = $(this).attr('href');
            return false;
        });
    });
</script>
{% endif %}
{% endcomment %}

{% endblock %}
