{% extends "account/base.html" %}

{% block head_title %}{% block page_title %}
Sign up
{% endblock %}{% endblock %}

{% block content %}

<form method="POST" action="{% url 'account_signup' %}" class="" data-toggle="validator">
  {% csrf_token %}
  {% include 'snippets/account-form.html' %}

  <div class="row justify-content-center">
    <div class="col-4 text-center">
      <button type="submit" class="btn btn-primary btn-block btn-lg">Sign up</button>
    </div>
  </div>

</form>

<hr>

<div class="text-center">
  <p class="text-muted"><small>Already have an account?</small></p>
  <a href="{{ login_url }}" class="btn btn-success">Login</a>
</div>

{% endblock %}