{% extends "account/base.html" %}

{% block head_title %}{% block page_title %}
Sign up
{% endblock %}{% endblock %}

{% block content %}

<form method="POST" action="{% url 'account_signup' %}" class="" data-toggle="validator">
  {% csrf_token %}
  {% include 'snippets/account-form.html' %}

  <button type="submit" class="btn btn-primary btn-block">Sign up</button>

</form>

<hr>

<div class="text-center">
  <p class="text-muted"><small>Already have an account?</small></p>
  <a href="{{ login_url }}" class="btn btn-success">Login</a>
</div>

{% endblock %}