<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block head_title %}Auspicious Dashboard{% endblock %} | Auspicious Dashboard
    </title>
    {% include "dashboard/components/styles.html" %}
    {% block additional_css %}{% endblock %}
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            {% include "dashboard/components/sidebar.html" %}
        </div>
        <div id="main" class="layout-navbar">

            {% include "dashboard/components/topbar.html" %}

            <div id="main-content">
                
                <div class="page-heading">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-12 col-md-6 order-md-1 order-last">
                                <h3>
                                    {% block page_title %}Dashboard | Auspicious{% endblock %}
                                </h3>
                            </div>
                            <div class="col-12 col-md-6 order-md-2 order-first">
                                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a
                                                href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            {% block breadcrumb %}Dashboard{% endblock %}
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <!-- messages -->
                    {% include 'snippets/messages.html' %}

                    <!-- Main Content -->
                    {% block content %}{% endblock %}

                </div>
                {% include "dashboard/components/footer.html" %}
            </div>
        </div>
    </div>

    {% include "dashboard/components/scripts.html" %}
    {% block additional_js %}{% endblock %}
</body>

</html>