{% load static %}
{% load custom_tags %}{% load custom_tags %}

<!doctype html>
<html lang="en">
<head>
    {% include "components/styles.html" %}
</head>
<body>


    {% include "components/loader.html" %}
    {% include "components/header.html" %}


    <!-- Breadcrumbs -->
    <section class="breadcrumbs" style="background-image:url({% static 'assets/landing/assets/img/breadcrumbs-bg.jpg' %})">
        <div class="container">
            <div class="row">
                <!-- Breadcrumbs-Content -->
                <div class="col-lg-7 col-md-7 col-12">
                    <div class="breadcrumbs-content">
                        {% if filtered_job_title %}
                        <h2>{{ filtered_job_title }}</h2>
                        {% else %}
                        <h2>All Jobs</h2>
                        {% endif %}
                    </div>
                </div>
                <!-- Breadcrumbs-Menu -->
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a><i class="fa fa-angle-double-right"></i></li>
                            <li class="active"><a href="{% url 'all_job_lists' %}">
                                {% if filtered_job_title %}
                       {{ filtered_job_title }}
                        {% else %}
                        All Jobs
                        {% endif %}
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs -->
<br>
<br>
    <div class="job-lists pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if filtered_job_title %}
                        <h3>{{ filtered_job_title }}</h3>
                        {% else %}
                        <h3>All Jobs</h3>
                        {% endif %}
                    <div class="listings-container">

                        {% if last_job_qs %}
                        <!-- Listing -->
                        <a href="{% url 'job_details' slug=last_job_qs.slug %}" class="listing full-time">
                            <div class="listing-logo">
                                <img src="{% static 'assets/landing/assets/img/icon.jpg' %}" alt="">
                           </div>
                            <div class="listing-title">
                                <h4>{{ last_job_qs.job_position }}<span class="listing-type">{{ last_job_qs.job_type }}</span></h4>
                                <ul class="listing-icons">
                                    <li><i class="ln ln-icon-Management"></i> {{ last_job_qs.description|remove_html_tags|truncatechars_html:40}}</li>
                                    <li><i class="ln ln-icon-Management"></i> {{ last_job_qs.salary}}</li>
                                    <li><i class="ln ln-icon-Management"></i> {{ last_job_qs.hours}}</li>
                                    <li>
                                        <div class="listing-date new">new</div>
                                    </li>
                                </ul>
                            </div>
                        </a>

                        {% endif %}

                        <!-- Listing -->
                        {% for job in job_lists %}
                        <a href="{% url 'job_details' slug=job.slug %}" class="listing full-time">
                            <div class="listing-logo">
                                <img src="{% static 'assets/landing/assets/img/icon.jpg' %}" alt="">
                            </div>
                            <div class="listing-title">
                                <h4>{{ job.job_position }}<span class="listing-type">{{ job.job_type }}</span></h4>
                                <ul class="listing-icons">
                                    <li><i class="ln ln-icon-Management"></i> {{ job.description|remove_html_tags|truncatechars_html:20}}</li>

                                </ul>
                            </div>
                        </a>
                        {% empty %}
                        <div class="alert alert-warning text-center" role="alert">
                            No job available!
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include "components/footer.html" %}
    {% include "components/scripts.html" %}
    {% block additional_js %}{% endblock %}

</body>
</html>
