{% load static %}
{% load custom_tags %}

<!doctype html>
<html lang="en">

<head>
    {% include "components/styles.html" %}
</head>

<body>


    {% include "components/loader.html" %}
    {% include "components/header.html" %}


    <!-- Breadcrumbs -->
    <section class="breadcrumbs"
        style="background-image:url({% static 'assets/landing/assets/img/breadcrumbs-bg.jpg' %})">
        <div class="container">
            <div class="row">
                <!-- Breadcrumbs-Content -->
                <div class="col-lg-7 col-md-7 col-12">
                    <div class="breadcrumbs-content">
                        <h2>Career</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <!-- Breadcrumbs-Menu -->
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="index.html">Home</a><i class="fa fa-angle-double-right"></i></li>
                            <li class="active"><a href="career.html">Career</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <div class="career-area py-5">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h3>Categories</h3>
                </div>
                
                <div class="col-6" style="text-align: right; font-size:16;">
                    {% if not user_cv == None %}
                    {% check_if_applied_for_the_cv user_cv.slug as check_if_applied_for_the_cv %}
                    {% else %}
                    {% check_if_applied_for_the_cv None as check_if_applied_for_the_cv %}
                    {% endif %}
                    {% if check_if_applied_for_the_cv == True %}
                    <a href="{% url 'cv_drop_update' slug=user_cv.slug %}">
                        <b>Update CV</b>
                        <img style="height:40px; width:40px;" src="{% static 'assets/landing/assets/img/Auspicious_Cv_Submit.png' %}">
                    </a>
                    
                    {% else %}
                    <a href="{% url 'cv_drop' %}">
                        <b>Drop CV</b>
                        <img style="height:40px; width:40px;" src="{% static 'assets/landing/assets/img/Auspicious_Cv_Submit.png' %}">
                    </a>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                {% for job_position in job_position_qs %}
                <div class="col-md-3 col-sm-2">
                    <div class="category-item text-center">
                        <a href="{% url 'filtered_job_lists' slug=job_position.slug %}">
                            <i class="fa fa-bar-chart"></i>
                            <h4>{{ job_position.title }}</h4>
                            <span>{{ job_position.get_job_count }}</span>
                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="job-lists pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <h3 class="col-6">Recent Jobs</h3>
                        <h4 class="col-6" style="text-align:right; ">
                            <a href="{% url 'all_job_lists' %}" style="color:#8a8888">View All</a>
                        </h4>
                    </div>
                    <div class="listings-container">

                        <!-- Listing -->
                        <a href="{% url 'job_details' slug=last_job_qs.slug %}" class="listing full-time">
                            <div class="listing-logo">
                                <img src="{% static 'assets/landing/assets/img/job-list-logo-04.png' %}" alt="">
                            </div>
                            <div class="listing-title">
                                <h4>
                                    {{ last_job_qs.job_position }}

                                    <span class="">
                                        {% check_if_applied_for_the_job last_job_qs.slug as check_if_applied_for_the_job %}
                                        {% if check_if_applied_for_the_job == True %}
                                        <span class="badge badge-success text-dark font-15">
                                            <i class="fa fa-check-square-o text-success" aria-hidden="true"></i>
                                            Already Applied
                                        </span>
                                        {% endif %}
                                    </span>

                                    <span class="listing-type">{{ last_job_qs.job_type }}</span>
                                </h4>
                                <ul class="listing-icons">
                                    <li><i class="ln ln-icon-Management"></i>
                                        {{ last_job_qs.description|remove_html_tags|truncatechars_html:40}}</li>
                                    <li><i class="ln ln-icon-Management"></i> {{ last_job_qs.salary}}</li>
                                    <li><i class="ln ln-icon-Management"></i> {{ last_job_qs.hours}}</li>
                                    <li>
                                        <div class="listing-date new">new</div>
                                    </li>
                                </ul>
                            </div>
                        </a>

                        <!-- Listing -->
                        {% for job in job_lists %}
                        <a href="{% url 'job_details' slug=job.slug %}" class="listing full-time">
                            <div class="listing-logo">
                                <img src="{% static 'assets/landing/assets/img/job-list-logo-04.png' %}" alt="">
                            </div>
                            <div class="listing-title">
                                <h4>
                                    {{ job.job_position }}

                                    <span class="">
                                        {% check_if_applied_for_the_job job.slug as check_if_applied_for_the_job %}
                                        {% if check_if_applied_for_the_job == True %}
                                        <span class="badge badge-success text-dark font-15">
                                            <i class="fa fa-check-square-o text-success" aria-hidden="true"></i>
                                            Already Applied
                                        </span>
                                        {% endif %}
                                    </span>

                                    <span class="listing-type">
                                        {{ job.job_type }}
                                    </span>
                                </h4>
                                <ul class="listing-icons">
                                    <li><i class="ln ln-icon-Management"></i>
                                        {{ job.description|remove_html_tags|truncatechars_html:20}}</li>
                                </ul>
                            </div>
                        </a>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include "components/footer.html" %}
    {% include "components/scripts.html" %}
    {% block additional_js %}{% endblock %}

</body>

</html>