{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include "components/styles.html" %}
</head>
<body>


    {% include "components/loader.html" %}
    {% include "components/header.html" %}

    <!-- Breadcrumbs -->
    <div class="breadcrumbs" style="background-image:url({% static 'assets/landing/assets/img/breadcrumbs-bg.jpg' %})">
        <div class="container">
            <div class="row">
                <!-- Breadcrumbs-Content -->
                <div class="col-lg-7 col-md-7 col-12">
                    <div class="breadcrumbs-content">
                        <h2>Civil Service</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <!-- Breadcrumbs-Menu -->
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a><i class="fa fa-angle-double-right"></i></li>
                            <li class="active"><a href="civil-service.html">Civil Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Design Drawing Start -->
    <div class="design-drawing py-5 section-title-2">
        <div class="container">
            <h3 class="text-center text-uppercase fw-bold mb-4">Design & <span>Drawing</span></h3>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-item">
                        <img src="{% static 'assets/landing/assets/img/service/1.jpg' %}" class="img-fluid" alt="">
                        <h5 class="text-center">Arehitectural</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, consectetur? Assumenda maxime beatae nulla et perspiciatis mollitia soluta tempora, temporibus atque adipisci iste praesentium nostrum nemo minima necessitatibus.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-item">
                        <img src="{% static 'assets/landing/assets/img/service/2.jpg' %}" class="img-fluid" alt="">
                        <h5 class="text-center">Arehitectural</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, consectetur? Assumenda maxime beatae nulla et perspiciatis mollitia soluta tempora</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-item">
                        <img src="{% static 'assets/landing/assets/img/service/1.jpg' %}" class="img-fluid" alt="">
                        <h5 class="text-center">Arehitectural</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, consectetur? Assumenda maxime beatae nulla et perspiciatis mollitia soluta tempora, temporibus atque adipisci iste praesentium nostrum nemo minima necessitatibus.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-item">
                        <img src="{% static 'assets/landing/assets/img/service/2.jpg' %}" class="img-fluid" alt="">
                        <h5 class="text-center">Arehitectural</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, consectetur? Assumenda maxime beatae nulla et perspiciatis mollitia soluta tempora, temporibus atque adipisci iste praesentium nostrum nemo minima necessitatibus.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-item">
                        <img src="{% static 'assets/landing/assets/img/service/1.jpg' %}" class="img-fluid" alt="">
                        <h5 class="text-center">Arehitectural</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, consectetur? Assumenda maxime beatae nulla et perspiciatis mollitia soluta tempora, temporibus atque adipisci iste praesentium nostrum nemo minima necessitatibus.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-item">
                        <img src="{% static 'assets/landing/assets/img/service/2.jpg' %}" class="img-fluid" alt="">
                        <h5 class="text-center">Arehitectural</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, consectetur? Assumenda maxime beatae nulla et perspiciatis mollitia soluta tempora, temporibus atque adipisci iste praesentium nostrum nemo minima necessitatibus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Design Drawing End -->

    <!-- Service EN Start -->
    <div class="service-en py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="service-en-item text-center">
                        <div class="icon">
                            <i class="fa fa-home fa-3x" aria-hidden="true"></i>
                        </div>
                        <h5>Preliminary Engineering Assessment (PEA)</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, consectetur? Assumenda maxime beatae nulla et perspiciatis mollitia soluta tempora, temporibus atque adipisci iste praesentium nostrum nemo minima necessitatibus.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-en-item text-center">
                        <div class="icon">
                            <i class="fa fa-home fa-3x" aria-hidden="true"></i>
                        </div>
                        <h5>Preliminary Engineering Assessment (PEA)</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, consectetur? Assumenda maxime beatae nulla et perspiciatis mollitia soluta tempora, temporibus atque adipisci iste praesentium nostrum nemo minima necessitatibus.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-en-item text-center">
                        <div class="icon">
                            <i class="fa fa-home fa-3x" aria-hidden="true"></i>
                        </div>
                        <h5>Preliminary Engineering Assessment (PEA)</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, consectetur? Assumenda maxime beatae nulla et perspiciatis mollitia soluta tempora, temporibus atque adipisci iste praesentium nostrum nemo minima necessitatibus.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-en-item text-center">
                        <div class="icon">
                            <i class="fa fa-home fa-3x" aria-hidden="true"></i>
                        </div>
                        <h5>Preliminary Engineering Assessment (PEA)</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, consectetur? Assumenda maxime beatae nulla et perspiciatis mollitia soluta tempora, temporibus atque adipisci iste praesentium nostrum nemo minima necessitatibus.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-en-item text-center">
                        <div class="icon">
                            <i class="fa fa-home fa-3x" aria-hidden="true"></i>
                        </div>
                        <h5 class="text-capitalize">building feasibility assessment</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, consectetur?</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-en-item text-center">
                        <div class="icon">
                            <i class="fa fa-home fa-3x" aria-hidden="true"></i>
                        </div>
                        <h5 class="text-capitalize">preliminary engineering assessment (PEA)</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, consectetur? Assumenda maxime beatae nulla et perspiciatis mollitia soluta tempora, temporibus atque adipisci iste praesentium nostrum nemo minima necessitatibus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service EN End -->

    <!-- NDT Start -->
    <div class="design-drawing py-5 section-title-2">
        <div class="container">
            <h3 class="text-center text-uppercase fw-bold mb-4"><span>NON-DESTRUCTIVE TESTING </span>(NDT)</h3>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-item">
                        <img src="{% static 'assets/landing/assets/img/service/1.jpg' %}" class="img-fluid" alt="">
                        <h5 class="text-center">Arehitectural</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, consectetur? Assumenda maxime beatae nulla et perspiciatis mollitia soluta tempora, temporibus atque adipisci iste praesentium nostrum nemo minima necessitatibus.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-item">
                        <img src="{% static 'assets/landing/assets/img/service/2.jpg' %}" class="img-fluid" alt="">
                        <h5 class="text-center">Arehitectural</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, consectetur? Assumenda maxime beatae nulla et perspiciatis mollitia soluta tempora</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-item">
                        <img src="{% static 'assets/landing/assets/img/service/1.jpg' %}" class="img-fluid" alt="">
                        <h5 class="text-center">Arehitectural</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, consectetur? Assumenda maxime beatae nulla et perspiciatis mollitia soluta tempora, temporibus atque adipisci iste praesentium nostrum nemo minima necessitatibus.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-item">
                        <img src="{% static 'assets/landing/assets/img/service/2.jpg' %}" class="img-fluid" alt="">
                        <h5 class="text-center">Arehitectural</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, consectetur? Assumenda maxime beatae nulla et perspiciatis mollitia soluta tempora, temporibus atque adipisci iste praesentium nostrum nemo minima necessitatibus.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-item">
                        <img src="{% static 'assets/landing/assets/img/service/1.jpg' %}" class="img-fluid" alt="">
                        <h5 class="text-center">Arehitectural</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, consectetur? Assumenda maxime beatae nulla et perspiciatis mollitia soluta tempora, temporibus atque adipisci iste praesentium nostrum nemo minima necessitatibus.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-item">
                        <img src="{% static 'assets/landing/assets/img/service/2.jpg' %}" class="img-fluid" alt="">
                        <h5 class="text-center">Arehitectural</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, consectetur? Assumenda maxime beatae nulla et perspiciatis mollitia soluta tempora, temporibus atque adipisci iste praesentium nostrum nemo minima necessitatibus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- NDT End -->

    <!-- Mobile Ready Start -->
    <div class="mobile-ready py-5 section-title-2">
        <div class="container">
            <h3 class="text-center text-uppercase fw-bold mb-4">Mobile <span>Ready mix </span></h3>
            <div class="row">
                <div class="col-md-4 col-sm-6 mb-3 mb-md-0">
                    <div class="content">
                        <h5>Mobile Ready mix plant (pully)</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, consectetur? Assumenda maxime beatae nulla et perspiciatis mollitia soluta tempora, temporibus atque adipisci iste praesentium nostrum nemo minima necessitatibus.</p>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6 text-center">
                    <img src="{% static 'assets/landing/assets/img/service/2.jpg' %}" class="rounded img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Ready End -->


    {% include "components/footer.html" %}
    {% include "components/scripts.html" %}
    {% block additional_js %}{% endblock %}

</body>
</html>