{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include "components/styles.html" %}
</head>
<body>


    {% include "components/loader.html" %}
    {% include "components/header.html" %}


    <!-- Breadcrumbs -->
    <section class="breadcrumbs" style="background-image:url('{% static 'assets/landing/assets/img/breadcrumbs-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <!-- Breadcrumbs-Content -->
                <div class="col-lg-7 col-md-7 col-12">
                    <div class="breadcrumbs-content">
                        <h2>Sister & Client Concern</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <!-- Breadcrumbs-Menu -->
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="index.html">Home</a><i class="fa fa-angle-double-right"></i></li>
                            <li class="active"><a href="client.html">Sister & Client Concern</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- Sister & Client Start -->
    <div class="sister-client pt-100 pb-100 section-title-2">
        <div class="container">
            <h3 class="text-center text-uppercase fw-bold mb-4">Sister Concern <span>of Auspicious</span></h3>
            <div class="row">
                {% for sister_client in sister_client_lists %}
                <div class="col-md-3 col-6">
                    <div class="sister-item">
                        <a href="{{ sister_client.url }}">
                            <img src="{{ sister_client.logo.url }}" class="img-fluid" alt="">
                            <p>{{ sister_client.name }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
            <h3 class="text-center text-uppercase fw-bold py-4"><span>Auspicious</span> Enlistment at</h3>
            <div class="row">
                {% for enlistment_client in enlistment_client_lists %}
                <div class="col-md-4 col-6">
                    <div class="sister-item">
                        <a href="{{ enlistment_client.url }}">
                            <img src="{{ enlistment_client.logo.url }}" class="img-fluid" alt="">
                            <p>{{ enlistment_client.title }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
            <h3 class="text-center text-uppercase fw-bold py-4">We are <span>Local Representative</span> of</h3>
            <div class="row">
                {% for local_client_representative in local_client_representative_lists %}
                <div class="col-md-4 col-6">
                    <div class="sister-item">
                        <a href="{{ local_client_representative.url }}">
                            <img src="{{ local_client_representative.logo.url }}" class="img-fluid" alt="">
                            <p>{{ local_client_representative.title }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <h3 class="text-center text-uppercase fw-bold py-4">Our<span> Civil</span> Clients</h3>
            <div class="row">
                {% for civil_client in civil_client_lists %}
                <div class="col-md-4 col-6">
                    <div class="sister-item">
                        <a href="{{ civil_client.url }}">
                            <img src="{{ civil_client.logo.url }}" class="img-fluid" alt="">
                            <p>{{ civil_client.title }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <h3 class="text-center text-uppercase fw-bold py-4">Our <span>Telecom</span> Clients</h3>
            <div class="row">
                {% for telecom_client in telecom_client_lists %}
                <div class="col-md-4 col-6">
                    <div class="sister-item">
                        <a href="{{ telecom_client.url }}">
                            <img src="{{ telecom_client.logo.url }}" class="img-fluid" alt="">
                            <p>{{ telecom_client.title }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Sister & Client End -->


    {% include "components/footer.html" %}
    {% include "components/scripts.html" %}
    {% block additional_js %}{% endblock %}

</body>
</html>
