{% load static %}
{% load custom_tags %}
<!doctype html>
<html lang="en">

<head>
    {% include "components/styles.html" %}
</head>

<body>
    {% include "components/loader.html" %}
    {% include "components/header.html" %}


    <!-- Breadcrumbs -->
    <section class="breadcrumbs" style="background-image:url('{% static 'assets/landing/assets/img/breadcrumbs-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <!-- Breadcrumbs-Content -->
                <div class="col-lg-7 col-md-7 col-12">
                    <div class="breadcrumbs-content">
                        <h2>Job Details</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <!-- Breadcrumbs-Menu -->
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a><i class="fa fa-angle-double-right"></i></li>
                            <li class="active"><a href="{% url 'job_details' job_qs.slug %}">Job Details</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <div class="container pt-100 pb-100">
        <div class="row">
            <!-- Recent Jobs -->
            <div class="col-md-8">
                <div class="padding-right">

                    <!-- Company Info -->
                    <div class="company-info">
                        <img src="{% static 'assets/landing/assets/img/icon.jpg' %}" alt="">
                        <div class="content">
                            <h4>{{ job_qs.job_position }}</h4>

                            <span><a href=""><i class="fa fa-link"></i> {{ job_qs.job_type }}</a></span>
                            <span><a href=""><i class="fa fa-envelope"></i> {{ contact_qs.email }}</a></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <p class="margin-reset">
                        {{ job_qs.description|safe|linebreaks }}
                    </p>

                </div>
            </div>


            <!-- Widgets -->
            <div class="col-md-4">

                <!-- Sort by -->
                <div class="widget">
                    <h4>Overview</h4>

                    <div class="job-overview">

                        <ul class="non-bullet-list">
                            <li>
                                <i class="fa fa-map" aria-hidden="true" style="color: #3492d0;"></i>
                                <div>
                                    <strong>Location:</strong>
                                    <span>{{ contact_qs.address }}</span>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-user-o" style="color: #3492d0;"></i>
                                <div>
                                    <strong>Job Title:</strong>
                                    <span>{{ job_qs.job_position }}</span>
                                </div>
                            </li>
                            {% if job_qs.hours %}
                            <li>
                                <i class="fa fa-times" style="color: #3492d0;"></i>
                                <div>
                                    <strong>Hours:</strong>
                                    <span>{{ job_qs.hours }}</span>
                                </div>
                            </li>
                            {% endif %}
                            {% if job_qs.salary %}
                            <li>
                                <i class="fa fa-credit-card-alt" aria-hidden="true" style="color: #3492d0;"></i>
                                <div>
                                    <strong>Salary:</strong>

                                    <span>{{ job_qs.salary }}</span>



                                </div>
                            </li>
                            {% endif %}
                        </ul>


                        <!-- <a href="#" class="popup-with-zoom-anim button" data-target="#jobApplyModal"
                            data-toggle="modal">
                            Apply For This Job
                        </a> -->
                        {% check_if_applied_for_the_job job_qs.slug as check_if_applied_for_the_job %}
                        <div class="text-center">
                            {% if check_if_applied_for_the_job == True %}
                            <span class="badge badge-success text-dark font-15">
                                <i class="fa fa-check-square-o text-success" aria-hidden="true"></i>
                                Already Applied
                            </span>

                            <a href="{% url 'job_apply_update' slug=job_qs.slug %}" class="popup-with-zoom-anim button">
                                Update Application
                            </a>
                            {% else %}
                            <a href="{% url 'job_apply' slug=job_qs.slug %}" class="popup-with-zoom-anim button">
                                Apply For This Job
                            </a>
                            {% endif %}
                        </div>

                    </div>

                </div>

            </div>
            <!-- Widgets / End -->
        </div>
    </div>

    {% include "page/snippets/job-apply-modal.html" %}


    {% include "components/footer.html" %}
    {% include "components/scripts.html" %}
    {% block additional_js %}{% endblock %}

</body>

</html>