{% load static %}
{% load custom_tags %}
<!doctype html>
<html lang="en">
<head>
    {% include "components/styles.html" %}
</head>
<body>
    {% include "components/loader.html" %}
    {% include "components/header.html" %}


    <!-- Breadcrumbs -->
    <section class="breadcrumbs" style="background-image:url('assets/img/breadcrumbs-bg.jpg')">
        <div class="container">
            <div class="row">
                <!-- Breadcrumbs-Content -->
                <div class="col-lg-7 col-md-7 col-12">
                    <div class="breadcrumbs-content">
                        <h2>Job Details</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <!-- Breadcrumbs-Menu -->
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="index.html">Home</a><i class="fa fa-angle-double-right"></i></li>
                            <li class="active"><a href="job-page.html">Job Details</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <div class="container pt-100 pb-100">
        <div class="row">
            <!-- Recent Jobs -->
            <div class="col-md-8">
                <div class="padding-right">

                    <!-- Company Info -->
                    <div class="company-info">
                        <img src="{% static 'assets/landing/assets/img/job-list-logo-04.png' %}" alt="">
                        <div class="content">
                            <h4>{{ job_qs.job_position }}</h4>

                            <span><a href=""><i class="fa fa-link"></i> {{ job_qs.job_type }}</a></span>
                            <span><a href="#"><i class="fa fa-twitter"></i> @kingrestaurants</a></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <p class="margin-reset">
                        {{ job_qs.description|safe|linebreaks }}
                    </p>


                </div>
            </div>


            <!-- Widgets -->
            <div class="col-md-4">

                <!-- Sort by -->
                <div class="widget">
                    <h4>Overview</h4>

                    <div class="job-overview">

                        <ul class="non-bullet-list">
                            <li>
                                <i class="fa fa-map" aria-hidden="true"></i>
                                <div>
                                    <strong>Location:</strong>
                                    <span>{{ contact_qs.address }}</span>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-user-o"></i>
                                <div>
                                    <strong>Job Title:</strong>
                                    <span>{{ job_qs.job_position }}</span>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <div>
                                    <strong>Hours:</strong>
                                    {% if job_qs.hours %}
                                    <span>{{ job_qs.hours }}</span>
                                    {% else %}
                                    <span>-</span>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                                <div>
                                    <strong>Salary:</strong>
                                    {% if job_qs.salary %}
                                    <span>{{ job_qs.salary }}</span>
                                    {% else %}
                                    <span>-</span>
                                    {% endif %}

                                </div>
                            </li>
                        </ul>


                        <a href="#" class="popup-with-zoom-anim button">Apply For This Job</a>
                    </div>

                </div>

            </div>
            <!-- Widgets / End -->
        </div>
    </div>


    {% include "components/footer.html" %}
    {% include "components/scripts.html" %}
    {% block additional_js %}{% endblock %}

</body>
</html>