{% load static %}
{% load custom_tags %}
<!doctype html>
<html lang="en">

<head>
    {% include "components/styles.html" %}
</head>

<body>
    {% include "components/loader.html" %}
    {% include "components/header.html" %}


    <!-- Breadcrumbs -->
    <section class="breadcrumbs" style="background-image:url({% static 'assets/landing/assets/img/breadcrumbs-bg.jpg' %})">
        <div class="container">
            <div class="row">
                <!-- Breadcrumbs-Content -->
                <div class="col-lg-7 col-md-7 col-12">
                    <div class="breadcrumbs-content">
                        <h2>Apply For This Job</h2>
                    </div>
                </div>
                <!-- Breadcrumbs-Menu -->
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="index.html">Home</a><i class="fa fa-angle-double-right"></i></li>
                            <li class="active"><a href="job-page.html">Job Apply</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    {% check_if_applied_for_the_job job.slug as check_if_applied_for_the_job %}

    {% if check_if_applied_for_the_job == True %}
    <div class="container">
        <div class="table-responsive m-4">
            <table class="table">
                <tbody>
                    <tr>
                        <th>File</th>
                        <td>
                            <div class="">
                                {% if object.file.url|get_file_type == "pdf" %}
                                <img class="ez-view m-2" src="{% static 'assets/images/icons/pdf.png' %}"
                                    href="{{ object.file.url }}" alt="{{ object.title }}">
                                {% elif object.file.url|get_file_type == "document" %}
                                <iframe class="doc img-thumbnail m-2" height="480" width="640"
                                    src="http://docs.google.com/gview?url={{request.scheme}}://{{ request.get_host }}{{ object.file.url }}&embedded=true">
                                </iframe>
                                {% else %}
                                <span>{{ object.value.url }}</span>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <td>{{ object.contact }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    <div class="container mt-4 pb-100">
        <div class="text-center">
            <h4>Application Form</h4>
        </div>
        <div class="row">
            <form role="form" method="POST" data-toggle="validator" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                <div class="card-body">
                    {% include 'page/snippets/form.html' %}
                </div>
                <!-- /.card-body -->
                <input type="hidden" name="next" value="{{ request.path }}">
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-lg btn-primary m-4">
                        Apply
                    </button>
                    <button type="button" class="btn btn-lg btn-danger m-4" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>


    {% include "components/footer.html" %}
    {% include "components/scripts.html" %}

    <!-- extra scripts -->
    {% block additional_js %}

    <!-- EZ View JS -->
    <script src="{% static 'assets/vendors/ez-view/EZView.js' %}"></script>
    <script src="{% static 'assets/vendors/ez-view/draggable.js' %}"></script>
    <script src="{% static 'assets/vendors/ez-view/ez-conf.js' %}"></script>

    <!-- Bootstrap Validator -->
    <script src="{% static 'assets/vendors/bootstrap-validator/validator.js' %}"></script>
    {% endblock %}

</body>

</html>