{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include "components/styles.html" %}
</head>
<body>


    {% include "components/loader.html" %}
    {% include "components/header.html" %}
  <!-- Breadcrumbs -->
    <section class="breadcrumbs" style="background-image:url({% static 'assets/landing/assets/img/breadcrumbs-bg.jpg' %})">
        <div class="container">
            <div class="row">
                <!-- Breadcrumbs-Content -->
                <div class="col-lg-7 col-md-7 col-12">
                    <div class="breadcrumbs-content">
                        <h2>News</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <!-- Breadcrumbs-Menu -->
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="index.html">Home</a><i class="fa fa-angle-double-right"></i></li>
                            <li class="active"><a href="news.html">News</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <div class="blog-details-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-details-wrapper">
                        <div class="blog-details-img-date-wrap mb-35 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <div class="blog-details-img">
                                <img src="{{ news_qs.image.url }}" alt="">
                            </div>
                            <div class="blog-details-date">
                                <h5>{{ news_qs.created_at.date.day }}
                                    <span>{{ news_qs.created_at|date:"M" }}</span></h5>
                            </div>
                        </div>
                        <div class="blog-meta-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <ul class="non-bullet-list">
                                <li><a href="#">{{ news_qs.category }}</a>,</li>
                                <li>By:<a href="#"> {{ news_qs.created_by }}</a></li>
                            </ul>
                        </div>
                        <h1 data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">{{ news_qs.title }}</h1>
                        <p data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">
                            {{ news_qs.description|safe }}
                        </p>
                        <div class="tag-social-wrap">
                            <div class="tag-wrap aos-init" data-aos="fade-up" data-aos-delay="200">
                                <span>Tags:</span>
                                <ul>
                                    <li><a href="#">Furniture</a>,</li>
                                    <li><a href="#">Electronic</a>,</li>
                                    <li><a href="#">Fashion</a></li>
                                </ul>
                            </div>
                            <div class="social-comment-digit-wrap aos-init" data-aos="fade-up" data-aos-delay="400">
                                <div class="social-icon-style-2">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                                <div class="comment-digit">
                                    <a href="#">2 <i class="fa fa-comments"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-author-wrap-2 aos-init" data-aos="fade-up" data-aos-delay="200">
                            <div class="blog-author-img-2">
                                <img src="{% static 'assets/landing/assets/img/blog/blog-author-2.png' %}" alt="">
                            </div>
                            <div class="blog-author-content-2">
                                <h2>{{ news_qs.created_by.user_profile.get_fullname }}</h2>
<!--                                <p>Lorem ipsum dolor sit amet, consecteg adipisicing elit
                                    sed do eius tempor incididunt ut lab et dolore magna aliqua.
                                    Ut enim ad minikl veniam, quis nostrud exercitatio.</p>-->
                                <div class="social-icon-style-3">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-glide-g"></i></a>
                                </div>
                            </div>
                        </div>


                        <div class="blog-next-previous-post aos-init" data-aos="fade-up" data-aos-delay="200">
                            <div class="blog-prev-post-wrap">
                                <div class="blog-prev-post-icon">
                                    <a href="#"><i class="fa fa-angle-left"></i></a>
                                </div>
                                <div class="blog-prev-post-content">
                                    <h3><a href="#">Lorem ipsum dolor sit amet cons ectetur</a></h3>
                                    <span>June 25, 2021</span>
                                </div>
                            </div>
                            <div class="blog-next-post-wrap">
                                <div class="blog-next-post-icon">
                                    <a href="#"> <i class="fa fa-angle-right"></i> </a>
                                </div>
                                <div class="blog-next-post-content">
                                    <h3><a href="#">Lorem ipsum dolor sit amet cons ectetur</a></h3>
                                    <span>June 25, 2021</span>
                                </div>
                            </div>
                        </div>



                        <div class="blog-comment-wrapper">
                            <h4 class="blog-dec-title aos-init" data-aos="fade-up" data-aos-delay="200">Comments
                                ({{ total_comment }})
                            </h4>
                            {% for comment in comment_qs %}
                            <div class="single-comment-wrapper single-comment-border aos-init" data-aos="fade-up" data-aos-delay="400">
                                <div class="blog-comment-img">
                                    <img src="{% static 'assets/landing/assets/img/blog/blog-comment-1.png' %}" alt="">
                                </div>


                                <div class="blog-comment-content">
                                    <div class="comment-info-reply-wrap">
                                        <div class="comment-info">
                                            <span>{{ comment.created_at }}</span>
                                            <h4>{{ comment.commented_by }}</h4>
                                        </div>
                                        <div class="comment-reply">
                                            <a href="#">Reply</a>
                                        </div>
                                    </div>
                                    <p>{{ comment.comment }}</p>
                                </div>


                            </div>
                                {% for reply in reply_qs %}

                                <div class="single-comment-wrapper single-comment-ml aos-init" data-aos="fade-up" data-aos-delay="600">
                                    <div class="blog-comment-img">
                                        <img src="{% static 'assets/landing/assets/img/blog/blog-comment-2.png' %}" alt="">
                                    </div>
                                    <div class="blog-comment-content">
                                        <div class="comment-info-reply-wrap">
                                            <div class="comment-info">
                                                <span>{{ reply.created_at }}</span>
                                                <h4>DX Joxova</h4>
                                            </div>
                                            <div class="comment-reply">
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodl tempor incididunt ut labore et dolore </p>
                                    </div>
                                </div> <br>
                                {% endfor %}


                            {% endfor %}
                             </div>




                        <div class="blog-comment-form-wrap">
                            <div class="blog-comment-form-title">
                                <h2 data-aos="fade-up" data-aos-delay="200" class="aos-init">Leave a Reply</h2>
                                <p data-aos="fade-up" data-aos-delay="400" class="aos-init">Your email address will not be published. please fill out this form.</p>
                            </div>
                            <div class="blog-comment-form">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="single-blog-comment-form aos-init" data-aos="fade-up" data-aos-delay="200">
                                                <input type="text" placeholder="Your Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="single-blog-comment-form aos-init" data-aos="fade-up" data-aos-delay="300">
                                                <input type="email" placeholder="Your Mail">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="single-blog-comment-form aos-init" data-aos="fade-up" data-aos-delay="400">
                                                <input type="text" placeholder="Your Website">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="single-blog-comment-form aos-init" data-aos="fade-up" data-aos-delay="500">
                                                <textarea placeholder="Comment"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="single-blog-comment-checkbox aos-init" data-aos="fade-up" data-aos-delay="600">
                                                <input type="checkbox">
                                                <label>Save my name, email, and website in this browser for the next time I comment.</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="comment-submit-btn btn-hover aos-init" data-aos="fade-up" data-aos-delay="700">
                                                <button class="submit" type="submit">Post Comment <i class=" ti-arrow-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar-wrapper blog-sidebar-mt">
                        <div class="sidebar-widget mb-50 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <div class="search-wrap-3">
                                <form class="search-3-form" action="#">
                                    <input placeholder="Search*" type="text">
                                    <button class="button-search"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="sidebar-widget mb-40 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <div class="sidebar-widget-title-2 mb-25">
                                <h3>Categories</h3>
                            </div>
                            <div class="sidebar-list-style-2">
                                <ul>
                                    <li><a href="">Blog Grid View (09)</a></li>
                                    <li><a href="">Latest blog (02)</a></li>
                                    <li><a href="">Our Blog (12)</a></li>
                                    <li><a href="">Uncategorized (107)</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-widget mb-40 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <div class="sidebar-widget-title-2 mb-30">
                                <h3>Latest Post</h3>
                            </div>
                            <div class="latest-post-wrap">
                                <div class="single-latest-post">
                                    <div class="latest-post-img">
                                        <a href="news-details.html"><img src="{% static 'assets/landing/assets/img/blog/latest-post-1.png' %}" alt=""></a>
                                    </div>
                                    <div class="latest-post-content">
                                        <span>01 May 2021</span>
                                        <h4><a href="news-details.html">Lorem ipsum dolor sit am conse ctetur adipis</a></h4>
                                        <div class="latest-post-btn">
                                            <a href="news-details.html">Continue Reading...</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-latest-post">
                                    <div class="latest-post-img">
                                        <a href="news-details.html"><img src="{% static 'assets/landing/assets/img/blog/latest-post-2.png' %}" alt=""></a>
                                    </div>
                                    <div class="latest-post-content">
                                        <span>08 Dec 2020</span>
                                        <h4><a href="news-details.html">Phasellus vehicula sit amet nibh vitae posuere</a></h4>
                                        <div class="latest-post-btn">
                                            <a href="news-details.html">Continue Reading...</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-latest-post">
                                    <div class="latest-post-img">
                                        <a href="news-details.html"><img src="{% static 'assets/landing/assets/img/blog/latest-post-3.png" alt=""></a>
                                    </div>
                                    <div class="latest-post-content">
                                        <span>01 Feb 2021</span>
                                        <h4><a href="news-details.html">Class aptent taciti sociosqu ad litora torquent</a></h4>
                                        <div class="latest-post-btn">
                                            <a href="news-details.html">Continue Reading...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-widget mb-35 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <div class="sidebar-widget-title-2 mb-30">
                                <h3>Tags</h3>
                            </div>
                            <div class="sidebar-widget-tag-2">
                                <a href="#">Furniture</a>
                                <a href="#">Electronic</a>
                                <a href="#">Home Decore</a>
                                <a href="#">Design Home</a>
                                <a href="#">Furniture</a>
                            </div>
                        </div>
                        <div class="sidebar-widget aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <div class="sidebar-banner">
                                <a href="product-details.html"><img src="{% static 'assets/landing/assets/img/banner/banner-29.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {% include "components/footer.html" %}
    {% include "components/scripts.html" %}
    {% block additional_js %}{% endblock %}

</body>
</html>
