{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include "components/styles.html" %}
</head>
<body>


    {% include "components/loader.html" %}
    {% include "components/header.html" %}
  <!-- Breadcrumbs -->
    <section class="breadcrumbs" style="background-image:url({% static 'assets/landing/assets/img/breadcrumbs-bg.jpg' %})">
        <div class="container">
            <div class="row">
                <!-- Breadcrumbs-Content -->
                <div class="col-lg-7 col-md-7 col-12">
                    <div class="breadcrumbs-content">
                        <h2>News</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <!-- Breadcrumbs-Menu -->
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="index.html">Home</a><i class="fa fa-angle-double-right"></i></li>
                            <li class="active"><a href="news.html">News</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <div class="blog-details-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-details-wrapper">
                        <div class="blog-details-img-date-wrap mb-35 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <div class="blog-details-img">
                                <img src="{{ news_qs.image.url }}" alt="" style="height:400px; width:850px;">
                            </div>
                            <div class="blog-details-date">
                                <h5>{{ news_qs.created_at.date.day }}
                                    <span>{{ news_qs.created_at|date:"M" }}</span></h5>
                            </div>
                        </div>
                        <div class="blog-meta-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <ul class="non-bullet-list">
                                <li><a href="#">{{ news_qs.category }}</a>,</li>
                                <li>By:<a href="#"> {{ news_qs.created_by }}</a></li>
                            </ul>
                        </div>
                        <h1 data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">{{ news_qs.title }}</h1>
                        <p data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">
                            {{ news_qs.description|safe }}
                        </p>
                        <div class="tag-social-wrap">
                            <div class="tag-wrap aos-init" data-aos="fade-up" data-aos-delay="200">
                                <span>Tags:</span>
                                <ul>
                                    <li><a href="#">Furniture</a>,</li>
                                    <li><a href="#">Electronic</a>,</li>
                                    <li><a href="#">Fashion</a></li>
                                </ul>
                            </div>
                            <div class="social-comment-digit-wrap aos-init" data-aos="fade-up" data-aos-delay="400">
                                <div class="social-icon-style-2">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                                <div class="comment-digit">
                                    <a href="#">{{ total_comment }}<i class="fa fa-comments"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-author-wrap-2 aos-init" data-aos="fade-up" data-aos-delay="200">
                            <div class="blog-author-img-2">
                                <img src="{% static 'assets/landing/assets/img/blog/blog-author-2.png' %}" alt="">
                            </div>
                            <div class="blog-author-content-2">
                                <h2>{{ news_qs.created_by.user_profile.get_fullname }}</h2>
<!--                                <p>Lorem ipsum dolor sit amet, consecteg adipisicing elit
                                    sed do eius tempor incididunt ut lab et dolore magna aliqua.
                                    Ut enim ad minikl veniam, quis nostrud exercitatio.</p>-->
                                <div class="social-icon-style-3">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-glide-g"></i></a>
                                </div>
                            </div>
                        </div>


                        <div class="blog-next-previous-post aos-init" data-aos="fade-up" data-aos-delay="200">

                            <div class="blog-prev-post-wrap">
                                {% if pre_news %}
                                <div class="blog-prev-post-icon">
                                    <a href="{% url 'news_details' slug=pre_news.slug %}"><i class="fa fa-angle-left"></i></a>
                                </div>

                                <div class="blog-prev-post-content">
                                    <h3><a href="{% url 'news_details' pre_news.slug %}">{{ pre_news.title }}</a></h3>
                                    <span>{{ pre_news.created_at.date }}</span>
                                </div>
                                {% endif %}
                            </div>

                            <div class="blog-next-post-wrap">
                                {% if next_news %}
                                <div class="blog-next-post-icon">
                                    <a href="{% url 'news_details' slug=next_news.slug %}"> <i class="fa fa-angle-right"></i> </a>
                                </div>

                                <div class="blog-next-post-content">
                                    <h3><a href="{% url 'news_details' slug=next_news.slug %}">{{ next_news.title }}</a></h3>
                                    <span>{{ next_news.created_at.date }}</span>
                                </div>
                                {% endif %}
                            </div>
                        </div>



                        <div class="blog-comment-wrapper">
                            <h4 class="blog-dec-title aos-init" data-aos="fade-up" data-aos-delay="200">Comments
                                ({{ total_comment }})
                            </h4>
                            {% for comment in news_qs.news_comment.all %}
                            
                            <div class="single-comment-wrapper single-comment-border aos-init" data-aos="fade-up" data-aos-delay="400">
                                <div class="blog-comment-img">
                                    <img src="{% static 'assets/landing/assets/img/blog/blog-comment-1.png' %}" alt="">
                                </div>


                                <div class="blog-comment-content">
                                    <div class="comment-info-reply-wrap">
                                        <div class="comment-info">
                                            <span>{{ comment.created_at }}</span>
                                            <h4>{{ comment.commented_by }}</h4>
                                        </div>
                                        <div class="comment-reply">
                                            <!-- <button type="button"
                                                class="btn btn-info btn-sm text-deco-none m-1 comment_reply"
                                                id="reply-btn-{{comment.id}}"
                                                value="{{comment.id}}"
                                                onclick="commentReply(this.value)">
                                                Reply
                                            </button> -->
                                            <button class="btn btn-primary m-l-10" type="button" data-bs-toggle="collapse" data-bs-target="#commentReplyForm_{{comment.id}}"
                                                aria-expanded="false" aria-controls="commentReplyForm_{{comment.id}}">
                                                Reply
                                            </button>
                                        </div>
                                    </div>
                                    <p>{{ comment.comment }}</p>

                                    <div class="collapse multi-collapse" id="commentReplyForm_{{comment.id}}">
                                        <div class="card card-body">
                                            <div class="row comment-reply-parent" id="comment_reply_parent_{{comment.id}}">
                                                <form action="{% url 'comment_reply' id=comment.id %}" method="POST" class="m-b-none" id="">
                                                    {% csrf_token %}
                                                    <div class="">
                                                        <textarea class="form-control" name="reply" rows="3" id="reply"></textarea>
                                                        <span class="input-group-btn">
                                                            <button type="submit" class="btn btn-primary btn-raised ripple-effect mt-4" id="comment-btn">
                                                                Reply
                                                            </button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                                {% for reply in comment.comment_reply.all %}


                                <div class="single-comment-wrapper single-comment-ml aos-init" data-aos="fade-up" data-aos-delay="600">
                                    <div class="blog-comment-img">
                                        <img src="{% static 'assets/landing/assets/img/blog/blog-comment-2.png' %}" alt="">
                                    </div>
                                    <div class="blog-comment-content">
                                        <div class="comment-info-reply-wrap">
                                            <div class="comment-info">
                                                <span>{{ reply.created_at }}</span>
                                                <h4>{{ reply.replied_by }}</h4>
                                            </div>
                                        </div>
                                        <p>{{ reply.reply }} </p>
                                    </div>
                                </div> <br>
                                {% endfor %}


                            {% endfor %}
                             </div>
                            
                        <div class="blog-comment-form-wrap">
                            <div class="blog-comment-form-title">
                                <h2 data-aos="fade-up" data-aos-delay="200" class="aos-init">Leave a Reply</h2>
                                <!-- <p data-aos="fade-up" data-aos-delay="400" class="aos-init">Your email address will not be published. please fill out this form.</p> -->
                            </div>
                            <div class="blog-comment-form">
                                <form action="{% url 'news_details' slug=news_qs.slug %}" method="POST" class="m-b-none" id="comment_form">
                                    {% csrf_token %}
                                    <div class="">
                                        <textarea class="form-control" name="comment" rows="3" id="comment"></textarea>
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary btn-raised ripple-effect mt-4" id="comment-btn">
                                                Comment
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar-wrapper blog-sidebar-mt">
                        <div class="sidebar-widget mb-50 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <div class="search-wrap-3">
                                <form class="search-3-form" action="#">
                                    <input placeholder="Search*" type="text">
                                    <button class="button-search"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="sidebar-widget mb-40 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <div class="sidebar-widget-title-2 mb-25">
                                <h3>Categories</h3>
                            </div>
                            <div class="sidebar-list-style-2">
                                <ul>
                                    {% for news_category in news_category_lists %}
                                    <li><a href="{% url 'filtered_news_lists' news_category.slug %}">{{ news_category.title }} ({{ news_category.get_news_count }})</a></li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-widget mb-40 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <div class="sidebar-widget-title-2 mb-30">
                                <h3>Latest Post</h3>
                            </div>
                            <div class="latest-post-wrap">
                                {% for news in last_three_job_lists %}
                                <div class="single-latest-post">
                                    <div class="latest-post-img">
                                        <a href="{% url 'news_details' news.slug %}"><img src="{{ news.image.url }}" alt=""></a>
                                    </div>
                                    <div class="latest-post-content">
                                        <span>{{ news.created_at.date }}</span>
                                        <h4><a href="{% url 'news_details' news.slug %}">{{ news.title }}</a></h4>
                                        <div class="latest-post-btn">
                                            <a href="{% url 'news_details' news.slug %}">Continue Reading...</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                        <div class="sidebar-widget mb-35 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <div class="sidebar-widget-title-2 mb-30">
                                <h3>Tags</h3>
                            </div>
                            <div class="sidebar-widget-tag-2">
                                <a href="#">Furniture</a>
                                <a href="#">Electronic</a>
                                <a href="#">Home Decore</a>
                                <a href="#">Design Home</a>
                                <a href="#">Furniture</a>
                            </div>
                        </div>
                        <div class="sidebar-widget aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <div class="sidebar-banner">
                                <a href="product-details.html"><img src="{% static 'assets/landing/assets/img/banner/banner-29.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {% include "components/footer.html" %}
    {% include "components/scripts.html" %}
    {% block additional_js %}
    
    <script>
        let replyBtn = $(".comment_reply")
        let replyForm = $(".comment-reply-parent")

        // replyBtn.click(function(){
        //     replyForm.removeClass("hide")
        // })


        function commentReply(commentID) {
            $("#comment_reply_parent_" + commentID).removeClass("hide")
            $("#comment_reply_parent_" + commentID).removeClass("comment-reply-parent")
            $(".comment-reply-parent").html("")
        }
    </script>

    {% endblock %}

</body>
</html>
