{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include "components/styles.html" %}
</head>
<body>


    {% include "components/loader.html" %}
    {% include "components/header.html" %}

    <!-- Breadcrumbs -->
    <section class="breadcrumbs" style="background-image:url('{% static 'assets/landing/assets/img/breadcrumbs-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <!-- Breadcrumbs-Content -->
                <div class="col-lg-7 col-md-7 col-12">
                    <div class="breadcrumbs-content">
                        <h2>News</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <!-- Breadcrumbs-Menu -->
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="index.html">Home</a><i class="fa fa-angle-double-right"></i></li>
                            <li class="active"><a href="news.html">News</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <div class="blog-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                {% for news in news_lists %}

                <div class="col-lg-4 col-md-6">
                    <div class="blog-wrap mb-50 wow fadeInUp" data-wow-duration="2s">
                        <div class="blog-img-date-wrap mb-25">
                            <div class="blog-img">
                                <a href="{% url 'news_details' slug=news.slug %}"><img src={{ news.image.url }} alt=""></a>
                            </div>
                            <div class="blog-date">

                                    <h5>
                                        {{ news.created_at.date.day }} <span>{{ news.created_at|date:"M" }}</span>
                                    </h5>

                            </div>
                        </div>

                        <div class="blog-content">
                            <div class="blog-meta">
                                <ul class="non-bullet-list">
                                    <li><a href="">{{ news.category }}</a>,</li>
                                    <li>By:<a href="#"> {{ news.created_by }}</a></li>
                                </ul>
                            </div>
                                <a href="{% url 'news_details' slug=news.slug %}">
                                    <h3>
                                        {{ news.title }}
                                    </h3>
                                 </a>
                                <p>
                                {{ news.description|safe|truncatechars_html:100}}
                                </p>
                            <div class="blog-btn-2 btn-hover">
                                <a class="btn hover-border-radius theme-color" href="{% url 'news_details' slug=news.slug %}">Read More</a>
                            </div>
                        </div>

                    </div>
                </div>

                {% endfor %}


            </div>
            <div class="pagination-style-1 wow fadeInUp" data-wow-duration="2s">
                <ul class="non-bullet-list">
                    <li><a class="next" href="#"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li><a class="active" href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a class="next" href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>




    {% include "components/footer.html" %}
    {% include "components/scripts.html" %}
    {% block additional_js %}{% endblock %}

</body>
</html>
