{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include "components/styles.html" %}
</head>
<body>


    {% include "components/loader.html" %}
    {% include "components/header.html" %}




    <!-- Breadcrumbs -->
    <div class="breadcrumbs" style="background-image:url({% static 'assets/landing/assets/img/breadcrumbs-bg.jpg' %})">
        <div class="container">
            <div class="row">
                <!-- Breadcrumbs-Content -->
                <div class="col-lg-7 col-md-7 col-12">
                    <div class="breadcrumbs-content">
                        <h2>telecom Service</h2>

                    </div>
                </div>
                <!-- Breadcrumbs-Menu -->
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="breadcrumbs-menu">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a><i class="fa fa-angle-double-right"></i></li>
                            <li class="active"><a href="{% url 'telecom_service' %}">Telecom Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Telecommunication Services Start -->
    <div class="telecom-service py-5 section-title-2">
        <div class="container">
            <h3 class="text-center text-uppercase fw-bold mb-4"><span>Telecommunication</span> Services</h3>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <ul>
                        <li>Site Acquisition</li>
                        <li>Network Benchmarking Services</li>
                        <li>Drive Test for 2G,3G & 4G</li>
                        <li>Survey and Audit (RBS & TXN)</li>
                        <li>Implementation (RBS & TXN)</li>
                        <li>End to End IBS Planning and Design</li>
                    </ul>
                </div>

                <div class="col-md-4 mb-4 text-center">
                    <img src="{% static 'assets/landing/assets/img/service/1.jpg' %}" class="img-fluid" alt="">
                </div>

                <div class="col-md-4 mb-4">
                    <h5>Network Manage Services</h5>
                    <ul>
                        <li>Radio Planning Design</li>
                        <li>Transmission (Tx) Planning Design</li>
                        <li>Transport (Tx) Operation</li>
                        <li>Transport (Tx) Implementation</li>
                        <li>Core Planning</li>
                        <li>Network Integration</li>
                    </ul>
                </div>

                <div class="col-md-4 mb-4">
                    <h5>Supply</h5>
                    <ul>
                        <li>Base Station Antenna(BSA), RF Products like Filters, Couplers, TMA, Cable, Connectors.</li>
                        <li>Drive Test Tools</li>
                        <li>Radio Planning Tools: Planet</li>
                        <li>Transport (Tx) Implementation</li>
                        <li>Tx Planning Tools</li>
                        <li>Network Integration</li>
                        <li>Geo-location Tools: Vista Neo (A drive less solution)</li>
                        <li>Service Assurance Tools</li>
                        <li>DWDm Tools</li>
                        <li>Repeaters</li>
                        <li>All kind of IBS Products</li>
                    </ul>
                </div>

                <div class="col-md-4 mb-4 mt-md-5 pt-md-5 text-center">
                    <img src="{% static 'assets/landing/assets/img/service/2.jpg' %}" class="img-fluid" alt="">
                </div>

                <div class="col-md-4 mb-4 mt-md-5">
                    <h5>Testing Tools</h5>
                    <ul>
                        <li>Frequency Scan & Model Tuning</li>
                        <li>Drive Testing</li>
                        <li>Benchmarking</li>
                        <li>VSWR Test</li>
                        <li>PIM Test</li>
                        <li>BER Test</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Telecommunication Services End -->

    <!-- Telecommunication Services Start -->
    <div class="telecom-service pb-5 section-title-2">
        <div class="container">
            <h3 class="text-center text-uppercase fw-bold mb-4"><span>Build Better</span> Network with Info-Vista</h3>
            <div class="row">
                <div class="col-md-8 telecom-items">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="telecom-service-item text-center">
                                <div class="icon">
                                    <i class="fa fa-server fa-3x" aria-hidden="true"></i>
                                </div>
                                <h4>Accurate 5G Planning</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="telecom-service-item text-center">
                                <div class="icon">
                                    <i class="fa fa-server fa-3x" aria-hidden="true"></i>
                                </div>
                                <h4>Accurate 5G Planning</h4>
                                <p>Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="telecom-service-item text-center">
                                <div class="icon">
                                    <i class="fa fa-folder-open fa-3x" aria-hidden="true"></i>
                                </div>
                                <h4>Accurate 5G Planning</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 mb-md-0">
                            <div class="telecom-service-item text-center">
                                <div class="icon">
                                    <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                                </div>
                                <h4>Accurate 5G Planning</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iusto fugit et neque, nulla commodi.</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 mb-md-0">
                            <div class="telecom-service-item text-center">
                                <div class="icon">
                                    <i class="fa fa-skyatlas fa-3x" aria-hidden="true"></i>
                                </div>
                                <h4>Accurate 5G Planning</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, sit.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <img src="{% static 'assets/landing/assets/img/gallery/6.png' %}" alt="" class="img-fluid h-100">
                </div>
            </div>
        </div>
    </div>
    <!-- Telecommunication Services End -->

    <div class="pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center mb-3 pt-md-5">
                    <img src="{% static 'assets/landing/assets/img/service/2.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-md-6">
                    <div class="telecome-tool mb-3">
                        <h5>Telecom Testing Tools</h5>
                        <ul>
                            <li>Ber Tester</li>
                            <li>Site Tester</li>
                        </ul>
                    </div>
                    <div class="telecome-tool mb-3">
                        <h5>Software</h5>
                        <ul>
                            <li>Mentum Planet6.2</li>
                            <li>Site Master</li>
                            <li>Nemo 7.6</li>
                            <li>TEMS Discovery 12</li>
                            <li>Actix</li>
                        </ul>
                    </div>
                    <div class="telecome-tool">
                        <h5>Capable to Arrange Anytime</h5>
                        <ul>
                            <li>Potable Optimal PIM Tester</li>
                            <li>Frequency Scanner</li>
                            <li>Portable Benchmarking Tools</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "components/footer.html" %}
    {% include "components/scripts.html" %}
    {% block additional_js %}{% endblock %}

</body>
</html>